@{
    ViewData["Title"] = "Match";
    int i = 0;
}

<h1>Match</h1>

<p><b>@Model.Game.name</b></p>


@foreach(var account in Model.AccountList)
{
    <p>@account.username</p>
    <p id="score" name="score">Score: 0</p>
    <input type="button" value="Add Point" class="btn btn-primary" onclick="increaseScore(@i)" />
    <input type="button" value="-" class="btn btn-light" onclick="decreaseScore(@i)" />

    i++;
    <br>
    <br>
    <br>
}

<input type="button" value="Update" class="btn btn-outline-primary" />

@section scripts{
    <script>
        var scores = [];
        for (var i = 0; i < document.getElementsByName("score").length; i++) {
            scores.push(0);
        }

        function increaseScore(i) {
            scores[i] = scores[i] + 1;
            document.getElementsByName("score")[i].textContent = "Score: " + scores[i];
        }

        function decreaseScore(i) {
            if(scores[i] != 0){
            scores[i] = scores[i] - 1;
            document.getElementsByName("score")[i].textContent = "Score: " + scores[i];
            }
        }
    </script>
}