@{
    ViewData["Title"] = "Wedstrijd";
}

<h1>Wedstrijd</h1>

@foreach(var account in Model.AccountList)
{
    <p>@account.User_Name</p>
}

@foreach(var item in Model.MatchList)
{
    <p>@item.Game_ID, @item.Account_ID</p>
}



