@{
    ViewData["Title"] = "Wedstrijd";
    List<string> namen = (List<string>)(object)ViewData["namen"];
}

<h1>Wedstrijd</h1>

@ViewData["ID"]

@foreach(var naam in namen)
{
    <p>@naam</p>
}

@foreach(var item in @Model)
{
    <p>@item.Spel_ID, @item.Account_ID</p>
}



