@model TestDatabase.Models.Games

@{
    ViewData["Title"] = "AddGame";
}

<h1>AddGame</h1>

<h4>Games</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" name="ID" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" name="GameName" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPlayers" class="control-label"></label>
                <input asp-for="MinimumPlayers" class="form-control" name="MinimumPlayers" />
                <span asp-validation-for="MinimumPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regels" class="control-label"></label>
                <input asp-for="Regels" class="form-control" name="Regels" />
                <span asp-validation-for="Regels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinCondition" class="control-label"></label>
                <input asp-for="WinCondition" class="form-control" name="WinCondition" />
                <span asp-validation-for="WinCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Games">Back to List</a>
</div>