@model TestDatabase.Models.Games

@{
    ViewData["Title"] = "AddGame";
}

<h1>AddGame</h1>

<style>
    .creategame {
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 15px;
        padding: 20px;
        margin: 10px;
    }
</style>

<div class="creategame">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="GameAdd" method="post">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="name" class="control-label">Game name</label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="minimum_players" class="control-label">Minimum players</label>
                    <input asp-for="minimum_players" class="form-control" />
                    <span asp-validation-for="minimum_players" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="rules" class="control-label">Rules</label>
                    <input asp-for="rules" class="form-control" />
                    <span asp-validation-for="rules" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="win_condition" class="control-label">Win condition</label>
                    <input asp-for="win_condition" class="form-control" />
                    <span asp-validation-for="win_condition" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Games">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }