@model TestDatabase.ViewModels.TemplateViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Create new template</h1>

<style>
    .createtemplate {
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 15px;
        padding: 20px;
        marign: 10px;
    }
</style>

<div class="createtemplate">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateTemplate">
                <form class="game-select-button" action="/Game">
                </form>
                <div>
                    <a class="game-select-button" onclick="goToPage()">
                        <i class="fa-sharp fa-solid fa-door-open fa-2x" style="color: #1081c5;"></i>
                    </a>
                </div>
                <input type="submit" value="Create" class="btn btn-primary" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="game" class="control-label">Game name</label>
                    <select asp-for="game" asp-items="ViewBag.GameNames" class="form-control" name="templateGame"></select>
                    <span asp-validation-for="game" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label">Template name</label>
                        <input asp-for="name" class="form-control" name="templateName" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="minimumPlayers" class="control-label">Minimum players</label>
                        <input asp-for="minimumPlayers" class="form-control" name="templateMinimumPlayers" />
                        <span asp-validation-for="minimumPlayers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="rules" class="control-label">Rules</label>
                        <input asp-for="rules" class="form-control" name="templateRules" />
                        <span asp-validation-for="rules" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="winCondition" class="control-label">Win condition</label>
                        <input asp-for="winCondition" class="form-control" name="templateWinCondition" />
                        <span asp-validation-for="winCondition" class="text-danger"></span>
                    </div>
                <br />
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Template">Back to Templates</a>
    </div>
</div>

