
@{
    ViewData["Title"] = "AdminPage";
}

<h1>View</h1>

<input type="submit" value="Accounts" class="btn btn-primary" onclick="location.href='@Url.Action("AccountList", "Admin")'" />
<input type="submit" value="Games" class="btn btn-primary" onclick="location.href='@Url.Action("Games", "Admin")'" />
<input type="submit" value="Templates" class="btn btn-primary" onclick="location.href='@Url.Action("Template", "Admin")'" />
@*<ul>
    
</ul>
<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AccountList">Accounts</a>
</button>
<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Games">Games</a>
</button>
<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Template">Templates</a>
</button>

<script>
    function redirectToAnotherPage() {
        // Replace the URL below with the URL of the page you want to redirect to
        window.location.href = "https://localhost:7098/Admin/accountList";
    }

    function redirectToAnotherPage2() {
        // Replace the URL below with the URL of the page you want to redirect to
        window.location.href = "https://localhost:7098/Admin/accountList";
    }
</script>*@