@model TestDatabase.Models.Games

@{
    ViewData["Title"] = "GameEdit";
}

<h1>EditGame</h1>

<h4>Games</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GameChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" name="ID" readonly />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" name="name" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minimum_players" class="control-label"></label>
                <input asp-for="minimum_players" class="form-control" name="minimum_players" />
                <span asp-validation-for="minimum_players" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rules" class="control-label"></label>
                <input asp-for="rules" class="form-control" name="rules">
                <span asp-validation-for="rules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="win_condition" class="control-label"></label>
                <input asp-for="win_condition" class="form-control" name="win_condition" />
                <span asp-validation-for="win_condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Games">Back to List</a>
</div>
