.gridder {
    display: grid;
    grid-template-columns: 5vw 25vw 10vw 1vw 59vw;
    grid-template-rows: 30vh 2vh 38vh 2vh 28vh;
    margin: 0;
    padding: 0;
}

.hamburgerNavigator {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.container {
    grid-column: 2 / span 4;
    grid-row: 1 / span 5;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.value-button {
    display: inline-block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 7px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

    .value-button:hover {
        background-color: #f2f2f2;
    }

    .value-button:active {
        background-color: #e6e6e6;
    }

#number {
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0 10px;
    border: none;
    background-color: #f2f2f2;
}

select {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1081c5;
    color: #fff;
    border: none;
    cursor: pointer;
}

    .btn:hover {
        background-color: #1f89e8;
    }


.game-wrapper {
    border-radius: 10px;
    margin: 20px 0px;
    background-color: #f4f4f4;
    padding: 10px;
    color: #000;
    column-span: 2;
}

.game-name {
    text-align: left;
    color: #000;
}

.game-players {
    margin-top: 50px;
}

.game-players-ul {
    list-style: none;
}

.game-players-li {
    height: 50px;
    background-color: #e4e4e4;
    margin: 5px 0px;
    line-height: 50px;
    padding-left: 10px;
    width: 93%;
}

.game-ctas {
    display: flex;
}

    .game-ctas > button {
        width: 200px;
        margin: 10px 30px;
    }
