
body {
    
    background-image: url(/Assets/pingpong.png);
}


.login-wrapper {
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 550px;
    background: #f4f4f4;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95
}


#logo {
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;   
    margin-left: auto;
    margin-right: auto;
}

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: 000;
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
    }



.inputbox input {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 3px solid #325677;
    border-radius: 15px;
    outline: none;
    text-align: left;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #111E29;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #0999ed;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}

    .forget label input {
        margin-right: 3px;
        height: 17px;
        width: 17px;
        border: 1px solid #325677;
    }

    .forget label a {
        
        text-decoration: none;
    }

        .forget label a:hover {
            text-decoration: underline;
        }

button {
    width: 60%;
    margin: 0 auto;
    display: block;
    height: 40px;
    border-radius: 15px;
    background: #1484C4;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #0999ed;
    text-align: center;
    margin: 25px 0 10px;
}

    .register p a {
        text-decoration: none;
        font-weight: 600;
        color: #0999ed;
    }

        .register p a:hover {
            text-decoration: underline;
        }


        .back-to-login{
            margin-left: 50px;
        }