@{
    ViewData["Title"] = "ForgotPassword";
}

<section>
    <div class="form-box">
        <div class="form-value">

            <form action="@Url.Action("ForgotPassword", "Home")" method="post">
                <img id="logo" src="@Url.Content("/Assets/BattleBreak_Dark.png")" />


                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div class="inputbox">
                    <input type="email" name="email" placeholder="Email" required>

                </div>

                <button>Recover Password</button>
            </form>
        </div>
    </div>
</section>
