@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2>Welcome, @ViewBag.Email</h2>
<p>Your user type is: @ViewBag.UserType</p>