@{
    ViewData["Title"] = "Home Page";
}
<div class="login-wrapper">


<section>
    <div class="form-box">
        <div class="form-value">

            <form action="@Url.Action("Register", "Home")" method="post">
                <img id="logo" src="@Url.Content("/Assets/Logo.png")" />

                <h2>Register</h2>
                <div class="inputbox">
                    <input type="text" name="username" required>
                    <label for="">Gebruikersnaam</label>
                </div>
                <div class="inputbox">
                    <input type="text" name="fullname" required>
                    <label for="">Volledige naam</label>
                </div>
                <div class="inputbox">
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
              
                <button>Create Account</button>
               
            </form>
        </div>
    </div>
</section>
</div>